{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <style>
    .textinput, .emailinput {
        width: 450px;
    }

    </style>
    <div class="container">
        <h2>Zmiana hasła</h2>
        <p>Ze względów bezpieczeństwa, podaj swoje stare hasło,a później wpisz dwukrotnie
            Twoje nowe hasło, abyśmy mogli zweryfikować, że zostało wpisane poprawnie.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Zmień hasło</button>
        </form>
    <br>
    </div>
{% endblock content %}