{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-sm-8">
{#       .............user must be logged in............#}
            {% if not request.user.is_authenticated %}
                <h4>{{ lesson.name }}</h4>
                {{ lesson.cours_content_short|safe }}

                <p>Aby przeglądać tą stronę musisz się zalogować</p>
                <a href="{% url 'login' %}" class="btn btn-success btn-lg "
                   role="button" aria-disabled="true">Zaloguj się</a>

{#       .............free content ............#}
            {% elif lesson.course_type == 0 %}
                <h4>{{ lesson.name }}</h4>
                {{ lesson.content|safe }}

{#       .............premium content and free account profile ............#}
            {% elif  user.profile.premium == False and lesson.course_type == 1 %}
                <h4>{{ lesson.name }}</h4>
                {{ lesson.cours_content_short|safe }}

                <p>Aby przeglądać wszystkie zasoby na nastej stronie wykup konto premium</p>
                <a href="{% url 'order_premium' %}" class="btn btn-warning btn-lg " style="color: white"
                   role="button" aria-disabled="true">Wykup konto premium</a>

{#       .............premium content and premium account profile ............#}
            {% else %}
                <h4>{{ lesson.name }}</h4>
                {{ lesson.content|safe }}

            {% endif %}
        </div>

        <div class="col-sm-4">

            <ul style="list-style: none">
                {% for lesson_link in course_list %}
                    {% if lesson_link.id == lesson.id %}

                        <strong>
                            <li><a style="color: #002752"
                                   href="{% url 'lesson' lesson_link.id  lesson_link.category.slug %}">{{ lesson_link.name }}</a>
                            </li>
                        </strong>
                    {% else %}
                        <li>
                            <a href="{% url 'lesson' lesson_link.id  lesson_link.category.slug %}">{{ lesson_link.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>





{% endblock %}

